*.pdf
*.pdf
media/*
notes/*
venv/*
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3
db.sqlite3-journal

# Media and uploaded notes
media/
notes/

# Environments
.env
venv/
ENV/
